---
import { getCollection } from 'astro:content';
export async function getStaticPaths({ paginate }) {
    const pages = await getCollection('games', ({ data }) => {
        return data.draft !== true;
    });
    // Generate pages from our array of astronauts, with 2 to a page for testing
    return paginate(pages, { pageSize: 2 });
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const { prev, next} = page.url; 
---

<h1>Blog Posts</h1>
<ul>
    {page.data.map(({ data }) => <li>{data.title}</li>)}
</ul>
<p>Posts {page.start + 1} to {page.end + 1}</p>
<p>{page.size} posts per page</p>
<p>Page {page.currentPage} of {page.lastPage}</p>
<p><a href={next}>Next Page</a></p>
<p><a href={prev}>Previous Page</a></p>